form {
    display: block;
    width: 250px;
}
.text {
    display: block;
    padding: 5px;
    margin: 10px;
    border: 2px solid #009897;
    position:  relative;
    /*top: 30px;
    left: 100px;*/
    float: left;
}
input[type="submit"].text {
    float: left;
    left: 300px;
    top: -144px;
    height: 50px;
    width: 100px;
    font-size: 30px;
    background: #7f8F33;
    border-color: #008033;
}
body {
    background-image: url("http://mtdata.ru/u24/photo5E0B/20905589166-0/original.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

td {
    border: solid #28a000 3px;
    color: #fffe38;
    width: 180px;
    height: 60px;
    font-weight: bold;
    padding-left: 10px;
    background-color: #008033;
}

table {
    position: relative;
    top: 100px;
    left: 150px;
    border-collapse: collapse;
    opacity: 0.9;
    font-size: 25px; 
    float: left;
}
textarea {
    background:transparent 50%;
    color: #a0a0ff;
    width: 180px;
    height: 30px;
}
.deletcore {
    border: none;
    background-color:transparent; 
    opacity: 0.9;
}
.del {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    background: #408033;
}
.headteble{
    background: #880014;
    color: #ff98bc;
}
.paginnumber {
    position: relative;
    float: left;
    border: 2px solid #009897;
    height: 23px;
    top: 10px;
    left: 10px;
}
.pagination{
    position: relative;

}
.sortbutton{
    background: #880014;
    border:none;
    color: #ff98bc;
    padding: 0px;
    font-size: 20px;
}
.label {
    float: left;
    font-size: 30px;
    color: #fffe38;
    position: relative;
    top: 10px;
    left: 20px;
}
.paginbutton{
    background: #408033;
    border: 2px solid #28a000;
    width: 40px;
    height: 40px; 
}